@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
#header{
    background:linear-gradient(  #02020285 , #0000006c) , url(images/cover/cover-1.png);
    height: 90vh;
    color:white;
}

#header h1{
    font-size: 50px;
}