@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
#header{
    background:linear-gradient(  #02020285 , #0000006c) , url(images/cover/cover-1.png);
    height: 90vh;
    color:white;
}

#header h1{
    font-size: 50px;
}

/* student feedback section  */
.quote-icons {
    font-size: 60px;
    color: rgb(194, 189, 189);
}

.star-icons {
    font-size: 15px;
    color:orange;
}

.student-name{
 font-size: 8px;
 font-weight: bold;
}

.student-paragraph{
 color: gray;
}



/* footer section  */
footer h4 {
    color: white;
}
footer p {
    color: white;
}
footer i {
    color: white;
    font-size: large;
    
}